.sliding-panel__blocking-layer_all-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

.sliding-panel__blocking-layer_current-slide {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
}

.sliding-panel__overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-left: 1px solid #666;
}

.sliding-panel__child-container {
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  min-width: 800px;
  box-shadow: 0 0 17px 6px #444;
  background-color: white;
}

.sliding-panel__scrolling-layer {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.slide-enter {
  transform: translateX(1900px);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 0.4s;
}

.slide-leave {
  transform: translateX(0);
}

.slide-leave-active {
  transform: translateX(1900px);
  transition: transform 0.4s ease-in;
}

.sliding-panel__header {
  padding: 18px 20px 0;
  box-sizing: border-box;
}

.sliding-panel__header-row1 {
  display: flex;
  justify-content: space-between;
}

.sliding-panel__header-row2 {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.sliding-panel__action-container > div {
  margin-left: 10px;
}

.sliding-panel__header-title {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto-Regular', Arial, sans-serif;
}

.sliding-panel__header-icon {
  margin-left: 9px;
  cursor: pointer;
}
