.sovos-PaginationFooter {
  color: rgba(0,0,0,.54);
  font-size: 12px;
  height: 56px;
  line-height: 24px;
  padding: 16px 14px;
  text-align: right;
}

.sovos-PaginationFooter__Element {
  display: inline-block;

  &_counts {
    margin: 0 32px;
  }
}

.sovos-PaginationFooter__Arrow {
  &:last-child {
    margin-left: 24px;
  }

  background-color: transparent;
  border:none;
  cursor: pointer;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  width: 24px;
}
